<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a39a24d7-f3e0-4d17-b844-ce70597c99da" Publisher="CN=beau" Version="1.0.0.0" />
  <Properties>
    <DisplayName>EasyReader</DisplayName>
    <PublisherDisplayName>beau</PublisherDisplayName>
    <Logo>Images\Store-Logo.png</Logo>
    <Description>EasyReader</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="easyreader.exe" EntryPoint="EasyReader.App">
      <VisualElements DisplayName="Easy Reader" Logo="Images\Small-Tile.png" SmallLogo="Images\Small-Logo.png" Description="Easy Reader makes your tablet useful by queueing up the news, blog posts, and other reading material that you want to read on the go." ForegroundText="light" BackgroundColor="#222222" InitialRotationPreference="landscape">
        <DefaultTile WideLogo="Images\Wide-Tile.png" />
        <SplashScreen Image="Images\Splash-Screen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>